{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <p>
        API Catalogue Annonce : <a href="http://localhost:8000/api"> ICI </a>
    </p>
</div>
{% endblock %}
